.header {
  display: inline-block;
  width: 100%;
  border: solid;
}
.container {
  display: inline-flex;
  width: 100%;
  overflow: scroll;
  border: solid;
  margin: 10px 10px 10px 10px;
}
.balances {
  margin: 10px;
  height: 40%;
  width: 60%;
  border: solid;
  text-align: center;
  overflow: scroll;
}
